/* Home page container with a background image */
.home-container {
    height: 100vh; /* Full height */
    background-color:rgb(248, 252, 252);
  }
  
  /* Styling for the home text */
  .home-container h1 {
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for a cool effect */
  }
  
  .home-container p {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Text shadow for paragraph */
  }
  
  .home-container .btn {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Add some shadow to the button */
  }
  